:root{
  --darkBlue: #284763;
  --lightBlue: #a1cac8;
  --shadow: #89acaa;
  --light: #b9e8e6;
  --shadowGradient: #91b6b4;
  --lightGradient: #acd8d6;
  --orange: #d96511;
  --orangeShadowGradient: #c35b0f;
  --orangeLightGradient: #ff994f;
  --white: #FFFDFA;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #284763;
}

body{
  background-color: var(--lightBlue);
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
}

h1{
  font-size: 3rem;
}

.importantText{
  color:  var(--orange);
  font-size: larger;
}

a, a:visited {
  color:var(--white);
  text-decoration: none;
}

.header {
  list-style: none;
  background-color: var(--darkBlue);
  min-height: 8vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: var(--white);
  z-index: 100;
}

.navbar-container {
  width: 60%;
}

.header li{
  display: flex;
  justify-content: space-around;
}

.header a{
  position: relative;
}

.header a:hover, .header .active{
  color: var(--lightBlue);
}

.header a::after{
  transform: translateY(10px);
  transition: all 1s cubic-bezier(.39,.86,.76,.81);
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
}

.header a:hover::after, .header .active::after{
  transform: translateY(0px);
  transition: all 1s cubic-bezier(.39,.86,.76,.81);
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: var(--lightBlue);
}

.heroBanner{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.cover{
  object-fit: contain;
  height: auto;
  width: 30vw;
  position: absolute;
  z-index: -10;
  right: 5%;
  top: 40%;
}

.heroBanner div{
  position: absolute;
  left: 5%;
  top: 25%;
  width: 60%;
  font-size: 2rem;
}

.skills{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.skills h1{
  text-align: center;
  margin-bottom: 3rem;
}

.skill{
  margin-bottom: 40px;
  display: flex;
}

.skillTitle{
  width: 30%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  font-size: xx-large;

}

.graph{
  position: relative;
  height: 85px;
  width: 70%;
  border: var(--lightBlue) solid 10px;
  border-radius: 66px;
  background: linear-gradient(145deg, var(--shadowGradient), var(--lightGradient));
  box-shadow:  14px 14px 29px var(--shadow),
               -14px -14px 29px var(--light);
}

.graph::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 66px;
  box-shadow: inset 9px 9px 5px var(--shadow),
              inset -7px -7px 5px var(--light);
}

.graphValue{
  position: absolute;
  border-radius: 66px;
  z-index: 10;
    top: 0px;
    left: 0px;
    height: 65px;
    background: linear-gradient(145deg, #f0ad9c, #ca9283);
    box-shadow:  7px 7px 10px var(--shadow);

}

.skillSection{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--lightGradient);

}

.howIwork{
  width: 50%;
  font-size: 2rem;
  padding: 0 2rem 0 10%;
}

.techStack{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.myToolBox {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.logos{
  display: flex;
  justify-content: center;
  height: 60%;
  width: 80%;
  flex-wrap: wrap;
}

.logoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow:  7px 7px 10px var(--shadow),
               -7px -7px 10px var(--light);
}

.logoContainer p{
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.logo{

  height: 5vw;
  width: 5vw;
}
